* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  background-image: url("assets/outer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-app-region: drag;
}

.app{
  display: flex;
  width: 214px;
  padding: 21px 19px 14px 18px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.title {
  color: #9092ea;
  font-family: "Playfair Display SC", serif;
  width: 177px;
  height: 23px;
  font-size: 17px;
}

@font-face{
  font-family: "Playfair Display SC";
  src: url("./fonts/PlayfairDisplaySC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;;
}


#day{
  width: 81px;
  height: 104px;
  font-size: 90px;
  padding: 0 32px 26px 31px;
  line-height: normal;
  text-align: center;
}

#month{
  font-size: 17px;
  line-height: normal;
}

#day,
#month {
  color: #9092ea;
  font-family: "Playfair Display SC", serif;
  text-align: center;
}

#Calender{
  background-image: url("assets/inner.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 160px;
  height: 150px;
}